<div class='navigation_block'>
  <nav class='secondary_nav'>
    <ul class='four_split'>
      <li id="directors-link" class="link active first dropdown">
        @@if (context.level === 'first') {
          <a href='together-we-rock-vol-1.html'>
        }
        @@if (context.level === 'third') {
          <a href='../../together-we-rock-vol-1.html'>
        }
          <span>Vol 1: Together we Rock</span>
          @@if (context.level === 'first') {
            <img src="images/tab1.jpg" >
          }
          @@if (context.level === 'third') {
            <img src="../../images/tab1.jpg" >
          }
        </a>
        <div class="dropdown-content">
          <ul>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/01-about/about.html">01 About Adrok</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/01-about/about.html">01 About Adrok</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/02-adr-technology/adr-technology.html">02 ADR Technology-Science</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/02-adr-technology/adr-technology.html">02 ADR Technology-Science</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/03-australia/australia.html">03 Australia</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/03-australia/australia.html">03 Australia</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/04-coalbedmethane/coalbedmethane.html">04 CoalBedMethane BGG <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/04-coalbedmethane/coalbedmethane.html">04 CoalBedMethane BGG <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/04-coalbedmethane/coalbedmethane-1.html">1 Resolving thin coal beds using ADR Poster</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/04-coalbedmethane/coalbedmethane-1.html">1 Resolving thin coal beds using ADR Poster</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/04-coalbedmethane/coalbedmethane-2.html">2 Case Studies 2012</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/04-coalbedmethane/coalbedmethane-2.html">2 Case Studies 2012</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/05-coal/coal.html">05 Coal <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/05-coal/coal.html">05 Coal <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/05-coal/coal-1.html">1 Case Study 00152CM_OMK</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/05-coal/coal-1.html">1 Case Study 00152CM_OMK</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/05-coal/coal-2.html">2 Case Study 00152EV_OMK</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/05-coal/coal-2.html">2 Case Study 00152EV_OMK</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/06-morocco/morocco.html">06 Gas Sands Morocco <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/06-morocco/morocco.html">06 Gas Sands Morocco <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/06-morocco/morocco-1.html">1 Case Studies – Morocco Gas</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/06-morocco/morocco-1.html">1 Case Studies – Morocco Gas</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/06-morocco/morocco-2.html">2 Cabre - Jim Ward report on ADR surveys in Morocco</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/06-morocco/morocco-2.html">2 Cabre - Jim Ward report on ADR surveys in Morocco</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/07-gold/gold.html">07 Gold - CTO <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/07-gold/gold.html">07 Gold - CTO <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/07-gold/gold-1.html">1 ASEG-PESA_2015_Abstract_Submission ADR RESULTS v3 SR-GC-BC</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/07-gold/gold-1.html">1 ASEG-PESA_2015_Abstract_Submission ADR RESULTS v3 SR-GC-BC</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/07-gold/gold-2.html">2 Citigold case study</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/07-gold/gold-2.html">2 Citigold case study</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/07-gold/gold-3.html">3 ASEG PESA CITIGOLD ADROK PRES 2015 v6pptsml</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/07-gold/gold-3.html">3 ASEG PESA CITIGOLD ADROK PRES 2015 v6pptsml</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/08-geology/geology.html">08 General Geology - Jim Ward</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/08-geology/geology.html">08 General Geology - Jim Ward</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/09-hard-rocks/hard-rocks.html">09 Hard Rocks & Faults</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/09-hard-rocks/hard-rocks.html">09 Hard Rocks & Faults</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/10-petroleum-oman/petroleum-oman.html">10 Petroleum - Oman <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/10-petroleum-oman/petroleum-oman.html">10 Petroleum - Oman <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/10-petroleum-oman/petroleum-oman-1.html">1 IBD- ADROK- SPE Oman 260910</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/10-petroleum-oman/petroleum-oman-1.html">1 IBD- ADROK- SPE Oman 260910</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/10-petroleum-oman/petroleum-oman-2.html">2 Case Studies – Oman 1</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/10-petroleum-oman/petroleum-oman-2.html">2 Case Studies – Oman 1</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/11-petroleum-oklahoma/petroleum-oklahoma.html">11 Petroleum Oklahoma <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/11-petroleum-oklahoma/petroleum-oklahoma.html">11 Petroleum Oklahoma <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/11-petroleum-oklahoma/petroleum-oklahoma-1.html">1 ADROK Oklahoma PR (1) 2010-August</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/11-petroleum-oklahoma/petroleum-oklahoma-1.html">1 ADROK Oklahoma PR (1) 2010-August</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/11-petroleum-oklahoma/petroleum-oklahoma-2.html">2 2010 Oklahoma Case Study</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/11-petroleum-oklahoma/petroleum-oklahoma-2.html">2 2010 Oklahoma Case Study</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/12-onshore-uk/onshore-uk.html">12 Onshore UK</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/12-onshore-uk/onshore-uk.html">12 Onshore UK</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/13-underground/underground.html">13 Underground mining TCK</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/13-underground/underground.html">13 Underground mining TCK</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/14-water/water.html">14 Water <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/14-water/water.html">14 Water <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/14-water/water-1.html">1 Going Green to Find Blue V 2.0</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/14-water/water-1.html">1 Going Green to Find Blue V 2.0</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/14-water/water-2.html">2 RB 00140</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/14-water/water-2.html">2 RB 00140</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/15-testimonials/testimonials.html">15 Testimonials client <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/15-testimonials/testimonials.html">15 Testimonials client <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/15-testimonials/testimonials-1.html">1 Caithness+Petroleum</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/15-testimonials/testimonials-1.html">1 Caithness+Petroleum</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/15-testimonials/testimonials-2.html">2 Testimonials - clients</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/15-testimonials/testimonials-2.html">2 Testimonials - clients</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-1/16-papers/papers.html">16 Technical Papers & Conference Papers <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-1/16-papers/papers.html">16 Technical Papers & Conference Papers <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/16-papers/papers-1.html">1 ASEG2015</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/16-papers/papers-1.html">1 ASEG2015</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/16-papers/papers-2.html">2 SEG2014</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/16-papers/papers-2.html">2 SEG2014</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/16-papers/papers-3.html">3 IJRS 2013</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/16-papers/papers-3.html">3 IJRS 2013</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/16-papers/papers-4.html">4 AAPG2012</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/16-papers/papers-4.html">4 AAPG2012</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/16-papers/papers-5.html">5 EAGE2011</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/16-papers/papers-5.html">5 EAGE2011</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-1/16-papers/papers-6.html">6 EAGE2009</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-1/16-papers/papers-6.html">6 EAGE2009</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!-- /.dropdown-content -->
      </li>

      <li id="challenger-values-link" class="link dropdown active first">
        @@if (context.level === 'first') {
          <a href='together-we-rock-vol-2.html'>
        }
        @@if (context.level === 'third') {
          <a href='../../together-we-rock-vol-2.html'>
        }
          <span>Vol 2: Together We Rock</span>
          @@if (context.level === 'first') {
            <img src="images/tab2.jpg" >
          }
          @@if (context.level === 'third') {
            <img src="../../images/tab2.jpg" >
          }
        </a>
        <div class="dropdown-content">
          <ul>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/01-about/about.html">01 About Adrok <div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/01-about/about.html">01 About Adrok <div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/01-about/about-1.html">1 About Adrok</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/01-about/about-1.html">1 About Adrok</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/01-about/about-2.html">2 e-flyer</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/01-about/about-2.html">2 e-flyer</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/02-adr-technology/adr-technology.html">02 ADR Technology-Science</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/02-adr-technology/adr-technology.html">02 ADR Technology-Science</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/03-eor/eor.html">03 Enhanced Oil Recovery (EOR), USA</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/03-eor/eor.html">03 Enhanced Oil Recovery (EOR), USA</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/04-geothermal/geothermal.html">04 Geothermal, New Zealand</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/04-geothermal/geothermal.html">04 Geothermal, New Zealand</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/05-gold-exploration/gold-exploration.html">05 Gold Exploration, Canada</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/05-gold-exploration/gold-exploration.html">05 Gold Exploration, Canada</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/06-surface/surface.html">06 Near Surface – Geotechnical project</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/06-surface/surface.html">06 Near Surface – Geotechnical project</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/07-oil-sands/oil-sands.html">07 Oil Sands, Canada</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/07-oil-sands/oil-sands.html">07 Oil Sands, Canada</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-2/08-papers/papers.html">08 Technical papers & conference papers<div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-2/08-papers/papers.html">08 Technical papers & conference papers<div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/08-papers/papers-1.html">8.1 EAGE2016</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/08-papers/papers-1.html">8.1 EAGE2016</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/08-papers/papers-2.html">8.2 BGS North Atlantic Craton 2016</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/08-papers/papers-2.html">8.2 BGS North Atlantic Craton 2016</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/08-papers/papers-3.html">8.3 PETEX2016</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/08-papers/papers-3.html">8.3 PETEX2016</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/08-papers/papers-4.html">8.4 EAGE2016</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/08-papers/papers-4.html">8.4 EAGE2016</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/08-papers/papers-5.html">8.5 Kansas Next Step</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/08-papers/papers-5.html">8.5 Kansas Next Step</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-2/08-papers/papers-6.html">8.6 General Concepts of Uncertainty</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-2/08-papers/papers-6.html">8.6 General Concepts of Uncertainty</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!-- /.dropdown-content -->
      </li>
      <li id="our-ambition-link" class="link active first dropdown">
        @@if (context.level === 'first') {
          <a href='together-we-rock-vol-3.html'>
        }
        @@if (context.level === 'third') {
          <a href='../../together-we-rock-vol-3.html'>
        }
          <span>Vol 3: Together We Rock</span>
          @@if (context.level === 'first') {
            <img src="images/tab3.jpg" >
          }
          @@if (context.level === 'third') {
            <img src="../../images/tab3.jpg" >
          }
        </a>
        <div class="dropdown-content">
          <ul>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/01-about/about.html">01 About Us<div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/01-about/about.html">01 About Us<div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content sub-dropdown-content--right">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/01-about/about-1.html">1 About Adrok</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/01-about/about-1.html">1 About Adrok</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/01-about/about-2.html">2 e-flyer</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/01-about/about-2.html">2 e-flyer</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/02-adr-technology/adr-technology.html">02 Our Technology</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/02-adr-technology/adr-technology.html">02 Our Technology</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/03-copper-zinc/copper-zinc.html">03 Copper-Zinc</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/03-copper-zinc/copper-zinc.html">03 Copper-Zinc</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/04-geothermal-cornwall/geothermal.html">04 Geothermal, Cornwall UK</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/04-geothermal-cornwall/geothermal.html">04 Geothermal, Cornwall UK</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/05-gold/gold.html">05 Gold Exploration, Mexico<div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/05-gold/gold.html">05 Gold Exploration, Mexico<div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content sub-dropdown-content--right">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/05-gold/gold-1.html">1 Case Study</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/05-gold/gold-1.html">1 Case Study</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/05-gold/gold-2.html">2 McEwen - 2017 Annual Meeting of Shareholders</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/05-gold/gold-2.html">2 McEwen - 2017 Annual Meeting of Shareholders</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/06-nickel/nickel.html">06 Nickel, Canada</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/06-nickel/nickel.html">06 Nickel, Canada</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/07-oil/oil.html">07 Oil, Oklahoma USA</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/07-oil/oil.html">07 Oil, Oklahoma USA</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/08-potash/potash.html">08 Potash</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/08-potash/potash.html">08 Potash</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/09-vietnam/vietnam.html">09 Vietnam Jungle, Gold Exploration</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/09-vietnam/vietnam.html">09 Vietnam Jungle, Gold Exploration</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-3/10-paper/paper.html">10 Technical papers & conference papers<div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-3/10-paper/paper.html">10 Technical papers & conference papers<div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content sub-dropdown-content--right">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-1.html">10.1 AAPG-ICE London 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-1.html">10.1 AAPG-ICE London 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-2.html">10.2 Finding Petroleum 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-2.html">10.2 Finding Petroleum 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-3.html">10.3 Futores 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-3.html">10.3 Futores 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-4.html">10.4 ICAD 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-4.html">10.4 ICAD 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-5.html">10.5 AAPG-Euro Durham 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-5.html">10.5 AAPG-Euro Durham 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-6.html">10.6 SDI Tokyo Japan 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-6.html">10.6 SDI Tokyo Japan 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-7.html">10.7 SU2P 2017</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-7.html">10.7 SU2P 2017</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-3/10-paper/paper-8.html">10.8 AEGC2018</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-3/10-paper/paper-8.html">10.8 AEGC2018</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!-- /.dropdown-content -->
      </li>
      <li id="need-a-challenge-link" class="link dropdown active last">
        @@if (context.level === 'first') {
          <a href='together-we-rock-vol-4.html'>
        }
        @@if (context.level === 'third') {
          <a href='../../together-we-rock-vol-4.html'>
        }
          <span>Vol 4: Together We Rock</span>
          @@if (context.level === 'first') {
            <img src="images/tab4.jpg" >
          }
          @@if (context.level === 'third') {
            <img src="../../images/tab4.jpg" >
          }
        </a>
        <div class="dropdown-content">
          <ul>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/01-about/about.html">01 About Us</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/01-about/about.html">01 About Us</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/01b-advert-page/advert-page.html">01b Advert Page<div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/01b-advert-page/advert-page.html">01b Advert Page<div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content sub-dropdown-content--right">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/01b-advert-page/advert-page-1.html">1b.1 Advert</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/01b-advert-page/advert-page-1.html">1b.1 Advert</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/01b-advert-page/advert-page-2.html">1b.2 Sceptic Busters</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/01b-advert-page/advert-page-2.html">1b.2 Sceptic Busters</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/02-adr-technology/adr-technology.html">02 ADR Technology-Science</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/02-adr-technology/adr-technology.html">02 ADR Technology-Science</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/03-australia-greenrock/australia-greenrock.html">03 Australia Greenrock</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/03-australia-greenrock/australia-greenrock.html">03 Australia Greenrock</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/04-china/china.html">04 China</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/04-china/china.html">04 China</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/05-coal-tyfi/coal-tyfi.html">05 Coal Tyfi</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/05-coal-tyfi/coal-tyfi.html">05 Coal Tyfi</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/06-eor/eor.html">06 EOR heating oils (laboratory ADR)</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/06-eor/eor.html">06 EOR heating oils (laboratory ADR)</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/07-finland/finland.html">07 Finland - Sulphides</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/07-finland/finland.html">07 Finland - Sulphides</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/08-mexico/mexico.html">08 Mexico - Gold</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/08-mexico/mexico.html">08 Mexico - Gold</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/09-onshore-gas/onshore-gas.html">09 Onshore UK – Oil & Gas</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/09-onshore-gas/onshore-gas.html">09 Onshore UK – Oil & Gas</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/10-onshore-potash/onshore-potash.html">10 Onshore UK - Potash</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/10-onshore-potash/onshore-potash.html">10 Onshore UK - Potash</a>
              }
            </li>
            <li class="dropdown-item">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/11-onshore-coal/onshore-coal.html">11 Onshore UK - Shallow Coal</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/11-onshore-coal/onshore-coal.html">11 Onshore UK - Shallow Coal</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/12-uranium/uranium.html">12 Uranium</a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/12-uranium/uranium.html">12 Uranium</a>
              }
            </li>
            <li class="dropdown-item sub-dropdown">
              @@if (context.level === 'first') {
                <a href="together-we-rock-vol-4/13-technical-paper/technical-paper.html">13 Technical papers & conference papers<div class="arrow">&rsaquo;</div></a>
              }
              @@if (context.level === 'third') {
                <a href="../../together-we-rock-vol-4/13-technical-paper/technical-paper.html">13 Technical papers & conference papers<div class="arrow">&rsaquo;</div></a>
              }
              <div class="sub-dropdown-content sub-dropdown-content--right">
                <ul>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/13-technical-paper/technical-paper-1.html">13.1 CSIT paper</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/13-technical-paper/technical-paper-1.html">13.1 CSIT paper</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/13-technical-paper/technical-paper-2.html">13.2 EAGE-Near Surface Geophysics 2018</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/13-technical-paper/technical-paper-2.html">13.2 EAGE-Near Surface Geophysics 2018</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/13-technical-paper/technical-paper-3.html">13.3 Petex2018</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/13-technical-paper/technical-paper-3.html">13.3 Petex2018</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/13-technical-paper/technical-paper-4.html">13.4 RFG2018</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/13-technical-paper/technical-paper-4.html">13.4 RFG2018</a>
                    }
                  </li>
                  <li class="sub-dropdown-item">
                    @@if (context.level === 'first') {
                      <a href="together-we-rock-vol-4/13-technical-paper/technical-paper-5.html">13.5 World Geothermal Congress 2018</a>
                    }
                    @@if (context.level === 'third') {
                      <a href="../../together-we-rock-vol-4/13-technical-paper/technical-paper-5.html">13.5 World Geothermal Congress 2018</a>
                    }
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div><!-- /.dropdown-content -->
      </li>
    </ul>
  </nav>
</div>
